<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/login">Login</a>
    <br>
    <a href="/users/logout">Logout</a>
    <br>
    {{{body}}}
  </body>
</html>
